
ion-card {
  border-style: solid;
  border-width: 2px;
  border-color:#105858;
}

.gifImage{
  width: 50%;
  display:block;
margin:auto;
}

.imgCard{
  padding: 5px;
}

.botones{
  width: 100%;
  background-color: #a6c44a;
  color:white;
}
